@media screen and (max-width:768px){
    body{
        margin: 0;
        padding: 0;
        /* background-color: pink; */
    }
    p, ul li.a,ul{
        font-size: small;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 27px;
    }
    h4{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    button{
        border: none;
        font-family: "Roboto",sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 16px;
    }
    .navbar-desktop{
        display: none;
    }
    .navbar-phone{
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: rgb(163, 163, 163); */
    }

    .right-side{
        margin-left: 10px;
    }
    .left-side{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-right: 10px;
        /* border: 1px solid blue; */
    }
    .navbar-phone img{
        height: 28px;
        width: 75px;
    }
    .banner-phone img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }
    .banner-info {
        margin: 25px;
    }
    .banner-buttons{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 15px;
        /* border: 1px solid blue; */
    }
    .banner-buttons button{
        padding: 10px 5px;
        width: 50%;
        height: 40px;
        border: 1px solid #2D2F31 ;

    }
    .banner-buttons button:first-child{
        color: white;
        background-color: rgba(45, 47, 49, 1);
        &:hover{
            background-color: rgba(45, 47, 49, .8);
        }
    }
    .banner-buttons button:hover{
        background-color: rgba(45, 47, 49, .2);
    }
 /* ?---------------------trust worthy------------------- */
    .tw-main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    .tw-main-container{
        margin:50px;
    }
    /* .trust-text{
        display: flex;
        justify-content: center;
    } */
    .trust-text p{
        font-size: 16px;
        font-weight: 300;
        text-align: center;
    }
    .trust-logos{
        display: flex;
        justify-content: center;
        gap: 45px;
        flex-wrap: wrap;
    }

 /*? ---------------------category------------------- */
    .category-main-container{
        background-color: #f1f2f4;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category-main-container h4,.category-main-container h1{
        font-size: large;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .category-main-container h1{
        font-size: 27px;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .cat-container{
        margin: 10px 10px;
        /* border: 1px solid red; */
    }
    .cat-container button{
        font-size: 14px;
        border: 1px solid black;
        padding: 10px 15px;
        margin-top: 10px;
        &:hover{
            background-color: rgba(45, 47, 49, .2);
        }
    }
    .four-cat-container{
        display: flex;
        gap: 25px;
        /* border: 1px solid blue; */
    }
    .four-cat-container a{
        font-size: small;
        font-weight: bold;
    }
    .four-cat-container ul{
        list-style: none;
        padding-left: 0;
    }
    .development-section{
        /* border: 1px solid red; */
    }
   

 /* ? ---------Udemy business------------------ */
 .ub-pic-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
 }
 .first-ub-pic-container img{

    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: top;
    padding-top: 45px;
 }
 .second-ub-pic-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
 }
 .second-ub-pic-container img{
    width: 40%;
    margin: 15px 0;
    /* border: 1px solid blue; */
 }

 .ub-info-container{
    /* border: 1px solid green; */
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .ub-info-container h1{
    text-align: center;
 }
 .ub-info-container ul li{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
 }
 .ub-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    /* border: 1px solid red; */
 }
 .ub-button-container button{
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    width: 50%;
    height: 100%;
    background-color: rgba(45, 47, 49, 1);
    /* margin-bottom: 10px; */
    &:hover{
        background-color: rgba(45, 47, 49, .8);
    }
 }
 .ub-button-container :last-child{
    background-color: white;
    color: black;
    &:hover{
        border: 1px solid rgba(45, 47, 49, 1);
        background-color: rgba(45, 47, 49, .2);
    }
 }


 /*? ---------quote container------------------ */
 .quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f2f4;
    /* border: 1px solid red; */
 }
 .quote-box{
    width: 90%;
    height:300px ;
    display: flex;
    margin-top: 50px;
    background-color: #fff;
    /* border: 1px solid #9da3a7; */
    box-shadow: 0 0 2px #9da3a7;
 }
 .quote-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    /* border: 1px solid black; */
  }
 .quote-logo{
    height: 20%;
    display: flex;
    align-items: center;
    /* border: 1px dotted red; */
 }
 .quote-logo img{
    height: 30%;
 }
 .quote{
    height: 60%;
    /* border: 1px dotted blue; */
 }
 .quote P{
    margin-top: 0;
    font-weight: 400;
    font-style: bold;
    font-size:15px;
    line-height: 20px;
 }
 .quote span{
    font-weight: 700;
    font-size:15px;
 }

 .read-full-story {
   height: 20%;
   display: flex;
   align-items: top;
   /* border: 1px dotted blue; */
 }
 .read-full-story a{
    color: #5624d0;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: bold;
 }
 .profile-side{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
 }
 .profile-side .profile-pic{
    display: flex;
    justify-content: center;
    height: 50%;
 }
 .profile-side .profile-pic img{
    border-radius: 50%;
    padding: 15px;
 }
 .person-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    /* border: 1px solid red; */
 }
 .person-info p{
    margin: 0;
    line-height: 19px;
 }
 .person-info p:last-child{
    margin-top: 15px;
 }
 .person-info h4{
    margin:0;
    font-family: "Roboto",sans-serif;
    margin-top: 15px;

 }

 .more-costumer-story{
    margin-top: 20px;
    width: 90%;
    height:50px ;
    /* border: 1px solid green; */
 }
 .more-costumer-story a{
    color: #5624d0;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    /* border: 1px solid red; */
 }

 /*? ---------become an instructor------------------ */
 .become-an-instructor{
    margin-bottom: 100px;
 }
 .become-an-instructor .text-container h1{
 }
 .become-an-instructor .pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .become-an-instructor .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2px;
 }

 .become-an-instructor .text-container button{
    color: white;
    border: 1px solid black;
    padding: 15px 20px;
    background-color: rgba(45, 47, 49, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
        background-color: rgba(45, 47, 49, .8);
    }
 }

 /*? ----------------------------footer------------------ */
 .ud-footer{
    background-color: #1c1d1f;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footer-main-container{
    width: 100%;
    height: 100%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
 }
 .language-selection button{
    color: white;
    background-color: #1c1d1f;
    margin: 10px 10px 10px 0;
    padding: 10px 30px;
    border: 1px solid white;
 }
 .language-selection span{
    margin-left: 5px;
    font-size: medium;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-style: normal;
 }
 .links-language {
    /* border: 5px dotted white; */
    margin-left: 15px;
 }
 .links-language ul{
    /* border: 5px dotted blue; */
    padding-left: 0;
 }
 .link-column a{
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
 }
 .link-column li{
    list-style: none;
    line-height: 30px;
    font-size: medium;
    /* border: 1px solid red; */
    &:hover{
        text-decoration: underline;
    }
 }
 
.logo-copyright{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* justify-content: center; */
    /* border: 1px dotted white; */
    margin-top: 35px;
    margin-left: 15px;
    width: 20%;
}

.logo-container img{
    /* margin-left: 18px; */
    width: 100px;
}
 .copyright-container{
     color: white;
     margin-top: 15px;
     font-size: 15px;
 }
}

/* ! ------------------------------- */
/* ! ------------------------------- */
/* ! ------------------------------- */
/* ! ------------------------------- */
/* ! ------------------------------- */
/* ! ------------------------------- */
/* ! ------------------------------- */
/* ! ------------------------------- */
@media screen and (min-width:768px){
    .navbar-phone {
        display: none;
    }
    .banner-phone{
        display: none;
    }
    body{
        margin: 0;
        padding: 0;
        /* background-color: pink; */
    }
    p, ul li.a,ul{
        font-size: small;
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 27px;
    }
    h4{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
    }
    button{
        border: none;
        font-family: "Roboto",sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 16px;
    }
     .navbar-desktop{
        width: 100%;
        height: 48px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #9da3a7;
         /* border: 1px solid blue;  */
    }
    .logo-desktop{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-list-desktop{
        width: 75%;
        display: flex;
         justify-content: space-between; 
        align-items: center;
    }
    .navbar-is-signin{
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-desktop img{
        height: 28px;
        width: 75px;
    }
    .navbar-list-desktop ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 50px;
    }
    .navbar-is-signin button{
        border: none;
        border: 1px solid black;
        background-color: white;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

    .navbar-is-signin button:first-child{
        
        &:hover{
            background-color: rgba(45, 47, 49, .2);
        }

    }
    .navbar-is-signin button:nth-child(2){
        color: white;
        background-color: #2d2f31;
        &:hover{
            opacity: 85%;
        }
    }
    .navbar-is-signin button:last-child{
        
        &:hover{
            background-color: rgba(45, 47, 49, .2);
        }
    } 
     /* ?------------------------banner desktop-------------------- */
        .banner-container{
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: center;
            /* border: 1px solid red; */
        } 
        .banner-pic-container{
            width: 90%;
            height: 100%;
            position: relative;
            /* border: 3px dotted blue; */
        }
        .banner-pic-container img{
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: center;
        } 
        .banner-desktop-text-info{
            position: absolute;
            background-color: #fff;
            width: 300px;
            height: 220px;
            left: 7%;
            top: 20%;
            padding-left: 15px;
            /* border: 1px solid green; */
            box-shadow: 0 0 15px #9da3a7;  
        }
        .banner-desktop-text-info button{
            color: white;
            border: 1px solid black;
            padding: 10px 20px;
            background-color: rgba(45, 47, 49, 1);
            /* margin-bottom: 10px; */
            &:hover{
                background-color: rgba(45, 47, 49, .8);
                cursor: pointer;
            }
        }

    
     /* ?---------------------trust worthy------------------- */
   
   .tw-main-container{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f2f4;
      padding-bottom: 35px;
        
        /* border: 1px solid red; */
    }
    .tw-main-container{
        margin:50px 0 0 0;
    }
    /* .trust-text{
        display: flex;
        justify-content: center;
    } */
    .trust-text p{
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
    .trust-logos{
        display: flex;
        justify-content: center;
        gap: 75px;
        margin-top: 50px;
        flex-wrap: wrap;
    }
 /* ? ----------------------courses-------------------- */
    .courses-main-container{
      margin: 0 50px;
      padding-bottom: 25px;
      /* border: 1px solid red; */
    }
    .courses-list{
      display: flex;
      justify-content:space-between;
      box-shadow: 0 0 5px #9da3a7;
      padding: 25px;
    }
    .card{
      height: 100%;
      width: 240px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 0 5px #9da3a7;
      /* border: 1px solid red; */
      &:hover{
         cursor: pointer;
      }
    }
    .card h3{
      margin: 0;
      margin-top: 15px;
      font-size: 16px;
    }
    .card h3:nth-child(4){
      /* border: 1px solid red; */
      /* color: blue; */
      margin-bottom: 10px;
    }
   

 /*? ---------------------category------------------- */
    .category-main-container{
        background-color: #f1f2f4;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }
    .category-main-container h4{
        font-size: large;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .category-main-container h1{
        font-size: 27px;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    .cat-container{
        width: 75%;
        /* margin: 10px 10px; */
        /* border: 1px solid red; */
    }
    .cat-container button{
        font-size: 14px;
        border: 1px solid black;
        padding: 10px 15px;
        margin-top: 10px;
        &:hover{
            background-color: rgba(45, 47, 49, .2);
            cursor: pointer;
        }
    }
    .four-cat-container{
        display: flex;
        justify-content: space-between;
        /* gap: 25px; */
        /* border: 1px solid blue; */
    }
    .four-cat-container a{
        font-size: small;
        font-weight: bold;
    }
    .four-cat-container ul{
        list-style: none;
        padding-left: 0;
    }
    .development-section{
        /* border: 1px solid red; */
    }
   

 /* ? ---------Udemy business------------------ */
 .udemy-business{
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
 }
 .ub-pic-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    /* border: 1px solid red; */
    
 }
 .first-ub-pic-container img{

    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: top;
    padding: 42px 0;
 }
 .second-ub-pic-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
 }
 .second-ub-pic-container img{
    width: 40%;
    margin: 15px 0;
    /* border: 1px solid blue; */
 }

 .ub-info-container{
    /* border: 1px solid green; */
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .ub-info-container h1{
    text-align: center;
 }
 .ub-info-container ul li{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
 }
 .ub-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    /* border: 1px solid red; */
 }
 .ub-button-container button{
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    width: 50%;
    height: 100%;
    background-color: rgba(45, 47, 49, 1);
    /* margin-bottom: 10px; */
    &:hover{
        background-color: rgba(45, 47, 49, .8);
        cursor: pointer;
    }
 }
 .ub-button-container :last-child{
    background-color: white;
    color: black;
    &:hover{
        border: 1px solid rgba(45, 47, 49, 1);
        background-color: rgba(45, 47, 49, .2);
        cursor: pointer;
    }
 }

   
      /* ?-----------------------quote container-------------------------- */
    .quote-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f1f2f4;
        /* border: 1px solid red; */
     }
     .quote-box{
        width: 50%;
        height:300px ;
        display: flex;
        margin-top: 50px;
        background-color: #fff;
        /* border: 1px solid #9da3a7; */
        box-shadow: 0 0 2px #9da3a7;
     }
     .quote-side{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        margin-right: 25px;
        /* border: 1px solid black; */
      }
     .quote-logo{
        height: 20%;
        display: flex;
        align-items: center;
        /* border: 1px dotted red; */
     }
     .quote-logo img{
        height: 30%;
     }
     .quote{
        height: 60%;
        /* border: 1px dotted blue; */
     }
     .quote P{
        margin-top: 0;
        font-weight: 400;
        font-style: bold;
        font-size:15px;
        line-height: 20px;
     }
     .quote span{
        font-weight: 700;
        font-size:15px;
     }
    
     .read-full-story {
       height: 20%;
       display: flex;
       align-items: top;
       /* border: 1px dotted blue; */
     }
     .read-full-story a{
        color: #5624d0;
        font-family: "Roboto",sans-serif;
        font-size: 15px;
        font-weight: bold;
     }
     .profile-side{
        width: 50%;
        height: 100%;
        /* border: 1px solid black; */
     }
     .profile-side .profile-pic{
        display: flex;
        justify-content: center;
        height: 50%;
     }
     .profile-side .profile-pic img{
        border-radius: 50%;
        padding: 15px;
     }
     .person-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        /* border: 1px solid red; */
     }
     .person-info p{
        margin: 0;
        line-height: 19px;
     }
     .person-info p:last-child{
        margin-top: 15px;
     }
     .person-info h4{
        margin:0;
        font-family: "Roboto",sans-serif;
        margin-top: 15px;
    
     }
    
     .more-costumer-story{
        margin-top: 20px;
        width: 50%;
        height:50px ;
        /* border: 1px solid green; */
     }
     .more-costumer-story a{
        color: #5624d0;
        font-family: "Roboto",sans-serif;
        font-weight: bold;
        margin-right: 10px;
        text-decoration: none;
        /* border: 1px solid red; */
     }

     /* ?---------------------become an instructor------------------- */
     .become-an-instructor{
        margin-bottom: 100px;
     }
     .become-an-instructor .text-container h1{
     }
     .become-an-instructor .pic-container{
        display: flex;
        justify-content: center;
        align-items: center;
     }
    
     .become-an-instructor .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2px;
     }
    
     .become-an-instructor .text-container button{
        color: white;
        border: 1px solid black;
        padding: 15px 20px;
        background-color: rgba(45, 47, 49, 1);
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover{
            background-color: rgba(45, 47, 49, .8);
            cursor: pointer;
        }
     }
      /* ?-----------------------footer-------------------------- */
    .ud-footer{
        background-color: #1c1d1f;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .footer-main-container{
        width: 100%;
        height: 100%;
        margin: 25px;
        display: flex;
        flex-direction: column;
     }
     .links-language{
        /* border: 1px solid red; */
     }
     .language-selection button{
        color: white;
        background-color: #1c1d1f;
        margin: 10px 10px 10px 0;
        padding: 10px 30px;
        border: 1px solid white;
        &:hover{
            background-color: rgba(45, 47, 49, .8);
            cursor: pointer;
        }
     }
     .language-selection span{
        margin-left: 5px;
        font-size: medium;
        font-family: "Roboto",sans-serif;
        font-weight: 500;
        font-style: normal;
     }
     .link-column{
        order: 1;
        padding-left: 0;
        padding-right: 75px;
     }
     .language-selection{
        order: 2;
        margin-left: auto;
        justify-self: end;
     }
     .link-column a{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
     }
     .link-column li{
        list-style: none;
        line-height: 30px;
        font-size: medium;
        /* border: 1px solid red; */
        &:hover{
            text-decoration: underline;
        }
     }
     .links-language{
        display: flex;
        /* flex-direction: row-reverse; */
     }
     .logo-copyright{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
     }
     .logo-container img{
        width: 80px;
     }
     .copyright-container{
        color: white;
     }
    
}